<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg - content</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/product.css" rel="stylesheet">
		<link href="css/header.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div class="headline d-flex flex-column justify-content-center px-3 px-sm-4 px-md-5 px-lg-6 pt-5">
			<div class="text-white">
				<h2 class="display-4 font-weight-normal">편집자 연결 - 내용</h2>
				<p class="lead font-weight-normal">The easiest way to create your own video.<br>This is the time to ForEgg.</p>
			</div>
		</div>
        <div>
            <p class="main-text"><strong>제목 :  <%=matchData.match_title%></strong></p>
		</div>
        <div>
            <p class="main-text"><strong> 작성자 : <%=matchData.user_nickname%></strong></p>
		</div>
        <div>
            <p class="main-text"><strong>
		    <p class="main-text"><strong> 글유형 :  <%=matchData.type_name%></strong></p>
            </strong></p>
		</div>
		<div>
            <p>[내용]</p>
            <p class="main-text"><strong>
                <%var lines = matchData.match_content.split("\n");%>
                <%lines.forEach(function(item) {%>
                    <%=item%><br/>
                <%})%>
            </strong></p>
		</div>
        
		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/common.js"></script>

	</body>
</html>
