<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg - content</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/product.css" rel="stylesheet">
		<link href="css/header.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div class="headline d-flex flex-column justify-content-center px-3 px-sm-4 px-md-5 px-lg-6 pt-5">
			<div class="text-white">
				<h2 class="display-4 font-weight-normal">편집자 연결 - 내용</h2>
				<p class="lead font-weight-normal">The easiest way to create your own video.<br>This is the time to ForEgg.</p>
			</div>
		</div>
		<div class="container py-5">
			<a href="/editor" class="btn btn-sm btn-outline-secondary mb-3">돌아가기</a>
			<div>
				<h4>[<%=matchData.type_name%>]<%=matchData.match_title%></h4>
				<div class="row m-0 text-muted small">
					<p class="col-18 col-md p-0 m-0">[회원유형]<span class="ml-2"><%=matchData.user_nickname%></span></p>
					<p class="col-6 p-0 m-0 text-right">작성날짜</p>
				</div>
			</div>
			<hr>
			<p>
				<%var lines = matchData.match_content.split("\n");%>
				<%lines.forEach(function(item) {%>
					<%=item%><br/>
				<%})%>
			</p>
			<hr>
			<div>
				<a href="/editor" class="btn btn-sm btn-outline-secondary">돌아가기</a>
				<button class="btn btn-sm btn-outline-primary">버튼</button>
			</div>
			<!-- TODO: Buttons here -->
		</div>

		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/common.js"></script>

	</body>
</html>
