<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ERROR</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/product.css" rel="stylesheet">
	</head>
	<body>
		<div id="headline" class="d-flex flex-column justify-content-center text-center">
			<p class="lead font-weight-normal">ERROR - 404  ㅠㅠ</p>	
		</div>

		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/common.js"></script>
	</body>
</html>