<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg</title>

		<!-- CSS -->
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<link href="public/css/product.css" rel="stylesheet">
		<link href="public/css/header.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div id="headline" class="d-flex flex-column justify-content-center text-center"> 	
            <h1 class="display-4 font-weight-normal">ERROR</h1>	
		</div>
		
		
		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="public/js/bootstrap.bundle.min.js"></script>
		<script src="public/js/common.js"></script>
	</body>
</html>