<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg - post</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/product.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div class="headline d-flex flex-column justify-content-center px-3 px-sm-4 px-md-5 px-lg-6 pt-5">
			<div class="text-white">
				<h2 class="display-4 font-weight-normal">편집자 매칭 - 글쓰기</h2>
				<p class="lead font-weight-normal">The easiest way to create your own video.<br>This is the time to ForEgg.</p>
			</div>
		</div>
		<div class="container py-5">
			<form action="/post" method="post" class="mw-42r mx-auto">
				<!-- TODO: Add something here more -->
				<div class="form-group row">
					<label for="post_tag" class="col-sm-5">분류</label>
					<div class="col-sm-19">
						<div class="radio-tile-group">
							<% for (var i = 1; i <= tags.length; i++) { %>
								<div class="input-container">
									<input id="post_tag_<%=i%>" class="radio-button" type="radio" name="post_type" value="<%=i%>" <% if (i == 1) { %> checked <% } %> >
									<label for="post_tag_<%=i%>" class="m-0 radio-tile radio-tile-label"><%=tags[i-1].type_name%></label>
								</div>
							<% } %>
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="post_title" class="col-sm-5">제목</label>
					<div class="col-sm-19">
						<input type="text" class="form-control" name="post_title" id="post_title" placeholder="제목을 입력하세요" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5">내용</label>
					<div class="col-sm-19">
						<textarea class="form-control" id="post_content" name="post_content" rows="12" placeholder="내용을 입력하세요"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5">대표영상</label>
					<div class="col-sm-19">
						<input type="text" class="form-control" name="post_link" id="post_link" placeholder="링크를 입력하세요" required>
					</div>
				</div>
				<hr class="my-4">
				<button type="submit" class="btn btn-primary btn-block">발행</button>
			</form>
		</div>
		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/common.js"></script>

		<script>
			$(window).bind('beforeunload', function() { return null; });
			$(document).ready(function()
			{
				$("form").on("submit", function (e)
				{
					$(window).off("beforeunload");
					return true;
				});
			});
		</script>
	</body>
</html>
