#headline
{
	height: 32rem;
	background-image: url("../img/bg_temp.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.headline
{
	height: 18rem;
	background-image: url("../img/bg_temp.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.my-card
{
	display: inline-block;
	width: 432px;
	height: 216px;
	max-width: 100%;
	/* margin: 10px; */
	text-align: left;
}
.my-card-content
{
	width: 297px;
	padding: 20px 15px;
}
.my-card-image
{
	width: 135px;
	height: 216px;
	object-fit: cover;
}