<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg</title>

		<!-- CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/product.css" rel="stylesheet">
	</head>
	<body>
		<% include ../common/header.ejs %>

		<div id="carouselExampleIndicators" class="carousel slide h-20r overflow-hidden" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner h-100 overflow-hidden">
				<div class="carousel-item h-100 active" style="background: url('img/1main.jpg');">
					<div class="carousel-caption d-none d-md-block">
						<h5>웨딩</h5>
						<p>comment here</p>
					</div>
				</div>
				<div class="carousel-item h-100" style="background: url('img/1main.jpg');">
					<div class="carousel-caption d-none d-md-block">
						<h5>투어</h5>
						<p>comment here</p>
					</div>
				</div>
				<div class="carousel-item h-100" style="background: url('img/1main.jpg');">
					<div class="carousel-caption d-none d-md-block">
						<h5>프로필</h5>
						<p>comment here</p>
					</div>
				</div>
				<div class="carousel-item h-100" style="background: url('img/1main.jpg');">
					<div class="carousel-caption d-none d-md-block">
						<h5>개인영상</h5>
						<p>comment here</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="bg-light p-4 py-md-5">
			<div class="d-flex flex-column flex-md-row text-center">
				<div class="col-md-8">
					당신만을 위한 최적의 촬영
				</div>
				<div class="col-md-8">
					투명한 가격 비교
				</div>
				<div class="col-md-8">
					안전하고 빠른 거래 시스템
				</div>
			</div>
		</div>
		<div>
			<h3 class="text-center">새로 올라온 상품</h3>
			<h3 class="text-center">인기 상품</h3>
		</div>

		<% include ../common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/common.js"></script>
	</body>
</html>
