<script src="js/jquery-3.3.1.min.js"></script>
<nav id="header" class="navbar navbar-light navbar-expand-lg sticky-top flex-column align-items-stretch p-0 bg-light border-bottom">
	<div class="d-flex px-3 py-2">
		<a href="/" class="navbar-brand"><% include logo.ejs %></a>
		<ul class="navbar-nav flex-row mr-auto">
			<li class="nav-item border-right">
				<a href="/record" class="nav-link px-2">영상</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2">장비/장소</a>
			</li>
		</ul>
		<div class="d-flex">
			<% if (login) { %>
				<div class="mx-2 my-auto">
					<% if (login.picture) { %>
						<a href="/users/info"><img src="<%=login.picture%>" class="h-2r rounded-pill w-auto"></a>
					<% } else { %>
						<a href="/users/info"><img src="img/basic_profile.png" class="h-2r rounded-pill w-auto"></a>
					<% } %>
				</div>
				<a href="/users/logout" class="btn btn-outline-dark my-2 my-sm-0">로그아웃</a>
			<% } else { %>
				<a href="/users/login" class="btn btn-outline-dark my-2 my-sm-0">로그인</a>
			<% } %>
		</div>
	</div>

	<% if (subnav) { %>
		<div class="d-flex align-items-center p-2 border-top">
		<% if (subnav == "record") { %>
			<!-- 영상 -->
			<a href="#" class="px-2 text-decoration-none text-muted">웨딩 촬영</a>
			<a href="#" class="px-2 text-decoration-none text-muted">투어 촬영</a>
			<a href="#" class="px-2 text-decoration-none text-muted">개인프로필 촬영</a>
			<a href="/editor?page=1" class="px-2 text-decoration-none text-muted">전문가 매칭</a>
		<% } else if (subnav == "rent") { %>
			<!-- 장비/장소 -->
		<% } %>
		</div>
	<% } %>
</nav>
