<script src="js/jquery-3.3.1.min.js"></script>
<nav id="header" class="navbar navbar-light navbar-expand-lg sticky-top flex-column align-items-stretch p-0 bg-light border-bottom">
	<div class="d-flex px-3 py-2">
		<a href="/" class="navbar-brand my-auto"><% include logo.ejs %></a>
		<ul class="navbar-nav flex-row mr-auto">
			<li class="nav-item border-right">
				<a href="/record" class="nav-link px-2">일반</a>
			</li>
			<li class="nav-item">
				<a href="/creater" class="nav-link px-2">크리에이터</a>
			</li>
		</ul>
		<div class="d-flex">
			<% if (login) { %>
				<div class="mx-2 my-auto">
					<% if (login.picture) { %>
						<a href="/users/info"><img src="<%=login.picture%>" class="h-2r rounded-pill w-auto"></a>
					<% } else { %>
						<a href="/users/info"><img src="img/basic_profile.png" class="h-2r rounded-pill w-auto"></a>
					<% } %>
				</div>
				<a href="/users/logout" class="btn btn-sm btn-outline-dark my-auto">로그아웃</a>
			<% } else { %>
				<a href="/users/login" class="btn btn-sm btn-outline-dark my-auto">로그인</a>
			<% } %>
		</div>
	</div>
	<% if (typeof subnav != 'undefined') { %>
		<div class="d-flex align-items-center p-2 border-top small">
		<% if (subnav == "record") { %>
			<!-- 일반 -->
			<a href="#" class="px-2 text-decoration-none text-muted">웨딩</a>
			<a href="#" class="px-2 text-decoration-none text-muted">투어</a>
			<a href="#" class="px-2 text-decoration-none text-muted">프로필</a>
			<a href="#" class="px-2 text-decoration-none text-muted">개인영상</a>
		<% } else if (subnav == "creater") { %>
			<!-- 크리에이터 -->
			<a href="/creater/editor?page=1" class="px-2 text-decoration-none text-muted">편집자 매칭</a>
			<a href="#" class="px-2 text-decoration-none text-muted">장비/장소</a>
		<% } %>
		</div>
	<% } %>
</nav>
